html, body {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}


/* Begin: Homelayout >>> */

/* Blog header */
.header-blog {
  margin-bottom: 90px;
}
.header-blog .nav {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.04);
}
.header-blog .nav-link {
  color: #000 !important;
}
.header-blog ul.navbar-nav {
  margin-left: 5%;
}

/* Blog post */
.container-post-blog {
  margin-bottom: 30px;
}
.container-post-blog:not(:first-child) {
  padding-top: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.04);
}
.body-post-blog {
  margin-top: 5px;
  white-space: pre-line;
}

/* Nav right */
.col-nav-right-group-blog h5 {
  text-decoration: underline;
  font-weight: bold;
}
.container-item-nav-right-blog {
  line-height: 1;
}
.container-item-nav-right-blog:not(:first-child) {
  padding-top: 20px;
}
.col-nav-right-group-blog .anchor-month {
  padding-left: 20px;
}

/* Comment blog post */
.comments {
  margin-left: 30px;
}
.container-comment-post {
  margin-top: 10px;
}
.container-new-comment-post {
  margin-top: 20px;
}

/* End: Homelayout <<< */


/* Begin: Loginlayout >>> */

/* Form Login */
.form-login {
  padding: 55px 0;
}

/* End: Loginlayout <<< */

